#jumbotron_right {
  padding-left: 5%;
  padding-top: 5%;
}

 .navbar {
  font-family: 'Princess Sofia', cursive;
  font-weight: bold;
}

.navbar-brand {
  font-size: 1.6rem;
}

#navbarNav {
  font-size: 1.3rem;
}

.jumbotron h1 {
  font-family: 'Princess Sofia', cursive;
}

.jumbotron p {
  font-family: 'Jua', sans-serif;
  font-size: 1.5rem;
}

h1, h2, h5, p, footer {
  font-family: 'Jua', sans-serif;
}

.card-deck {
  padding: 3%;
}

.my_card {
  display: block !important;
}

.btn {
  background-color: #453a3f;
  color: #e8e9e7;
  border: none;
  transition: all 0.5s ease-out;
  font-weight: bold;
}

.btn:hover {
  background-color: #a79594;
  color: #453a3f;
  font-weight: bold;
}

h1, h2 {
  color: #453a3f;
}

body, #my_skills, #my_contacts, .my_card {
  background-color: #f8f9fa;
}

#my_projects {
  background-color: #e9ecef;
  padding: 5% 0 5% 0;
}

#my_contacts {
  margin-top: 3%;
}
